# .env_example
# MYSQL Information
MYSQL_USER = user
MYSQL_PASSWORD = password
MYSQL_HOST = host
MYSQL_PORT = port
MYSQL_DATABASE = database

# Redis Information
REDIS_HOST= host
REDIS_PORT= port
REDIS_PASSWORD = password
REDIS_USER = user